body{
	padding: 0;
	margin: 0;
	background-image: linear-gradient(90deg,#A86099,#F58BDE)
}

.todo_container{
	width:400px;
    margin-top:5px;
    margin-left: 100px;
    float: left;
}

.todo_header{
	color: white;
	width: 400px;
	height: 200px;
	background-image: url("cosmic.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: lightblue;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position: relative;
    font-family: 'Yeon Sung', cursive;
    font-size: 30px;
}

#date{
	position: absolute;
	top: 10px;
	left: 10px;
}

.tooltip_clear .tooltip_text_clear{
visibility: hidden;
background-color:black;
color: white;
position:absolute;
left: 200%;
border-radius: 5px;
width:fit-content;
padding: 2px;
opacity: 0;
transition: opacity 1s;
font-size: 20px;
}

.tooltip_clear:hover .tooltip_text_clear{
    visibility: visible;
    opacity: 1;
}

.fa-sync-alt:hover{
    cursor: pointer;
    transform: rotate(45deg);
}

.content{
	height: 350px;
	max-height: 350px;
	overflow: auto;
	background-color: white;
}

.content ul{
    padding:0;
    margin:0;
}

.item{
    width:380px;
    min-height: 45px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
}

.item .fa-check-circle, .item .fa-circle{
    font-size: 25px;
}

.item .fa-circle:hover , .item .fa-check-circle:hover{
    cursor: pointer;
}

.item .fa-check-circle{
	color:#6eb200;
}


.item p.text{
    font-size: 20px;
    background-color: #FFF;
    width: 280px;
    overflow-wrap: break-word;
}

.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}

.tooltip_delete .tooltip_text_delete{
    visibility: hidden;
    background-color:black;
    color: white;
    position:absolute;
    left: 75%;
    bottom: 0%;
    z-index: 5;
    border-radius: 5px;
    width:max-content;
    padding: 2px;
    opacity: 0;
    transition: opacity 1s;
}

.item .fa-trash-alt{
    font-size: 25px;
}

.item .fa-trash-alt:hover{
color:#af0000;
cursor: pointer;
transform: scale(1.2);
}

.tooltip_delete:hover .tooltip_text_delete{
    visibility: visible;
    z-index: 5;
    opacity: 0.7;
}

/*Add an item*/

.add-item{
	background-color: white;
	border-radius: 0 0 15px 15px;
    position: relative;
    width: 380px;
    height:40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.tooltip_add .tooltip_text_add{
    visibility: hidden;
    background-color:black;
    color: white;
    position:absolute;
    left: 103%;
    top:30%;
    border-radius: 5px;
    width:fit-content;
    padding: 2px;
    opacity: 0;
    transition: opacity 1s;
}

.add-item .fa-plus-circle{
    position: absolute;
    right:10px;
    top: 15px;
    font-size: 30px;
    color: #4162f6;
}

.add-item .fa-plus-circle:hover{
    transform: scale(1.2);
}

.tooltip_add:hover .tooltip_text_add{
    visibility: visible;
    opacity: 1;
}

.add-item input{
	position: absolute;
    left: 10px;
    height: 35px;
    width: 330px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

/* Event list  */
.event_container{
    width: 400px;
    height: 400px;
    margin-left: 400px;
    /* background-color: teal; */
    float: left;
}

#event_input_box {
    width: 100%;
    font-size: 20px;
    text-align: left;
    background-color: lightblue;
    visibility: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#event_input_box input[type=text] , #event_input_box input[type=datetime-local] , #event_input_box input[type=url] {
    padding: 5px 5px;
    margin: 3px 0;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}  

.event_box{
    width: 400px;
    height: 400px;
    /* margin-top: 0px; */
    /* background-color: teal; */   
}

.event_header{
    width: 400px;
    height: 100px;
    color:white;
    background-color: blue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    font-family: 'Yeon Sung', cursive;
    font-size: 30px;
}

.event_header p{
    margin:0;
    padding-left: 10px;
}

.event_header button{
    width: 100px;
    height:30px;
    margin-left: 10px;
    cursor: pointer;
}

.event_header #done_button{
    visibility: hidden;
}

.clear , .clear_events{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 20px;
}

.div_list_of_events{
    height: 300px;
	max-height: 300px;
	overflow: auto;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.event_item{
    width:380px;
    min-height: 45px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position:relative;
}

.div_list_of_events ul{
    padding: 0px;
}

.check_flex{
    display: flex;
    flex-direction: column;
}

.edit_event button{
    cursor:pointer;
    margin: 2px;
}

.delete_event button{
    cursor:pointer;
    margin: 2px;
}